<IfModule mod_rewrite.c>
    RewriteEngine On

    # Meneruskan Header Authorization ke PHP environment (Apache/FastCGI)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Jangan rewrite jika file atau direktori fisik memang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php REST API
    RewriteRule ^ index.php [QSA,L]
</IfModule>
