<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jangan rewrite jika file atau direktori fisik memang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php REST API
    RewriteRule ^ index.php [QSA,L]
</IfModule>
